<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test Suite" parallel="methods" thread-count="8" verbose="1">
	<test name="UI Test">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />
		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.productCheckoutTest" />
			<class name="com.ui.tests.SearchProductTest" />
		</classes>
	</test>
</suite>